html {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.refresh-btn,
.matka-card a {
    border: 2px solid #ff006c;
    background-color: #ff006c;
    color: #fff;
    padding: 3px 7px;
    border-radius: 8px 0;
    box-shadow: 0px 0px 1px #000000d6;
    font-size: 12px;
    margin: 2px 0 -1px;
    display: inline-block;
    transition: all .3s
}

.refresh-btn:hover,
.matka-card a:hover {
    border: 2px solid #ba004f;
    background-color: #ba004f;
    box-shadow: 0px 0px 13px 3px #00000033;
    cursor: pointer
}

body {
    background-color: #3b5998;
    color: #FFFFFF;
    margin: 0px;
}

a {
    color: #FF0000;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 40px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {

    .width50 {
        width: 100% !important;
    }
}

h1 {
    color: #fff;
    -webkit-animation: h1 8s infinite;
    animation: h1 8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes h1 {
    0% {
        text-shadow: 0 0 3px #FF0000;
        color: #fff;
    }

    25% {
        text-shadow: 0 0 12px #FF0000;
    }

    50% {
        text-shadow: 0 0 20px #FF0000;
        color: pink;
    }

    75% {
        text-shadow: 0 0 12px #FF0000;
    }

    100% {
        text-shadow: 0 0 3px #FF0000;
        color: #fff;
    }
}

h2 {
    font-family: 'Monoton', cursive;
    font-size: 30px;
    -webkit-animation: h2 0.35s infinite;
    animation: h2 0.35s infinite;
}

@-webkit-keyframes h2 {
    0% {
        text-shadow: 0 0 6px #FFF;
    }

    100% {
        text-shadow: 0 0 0px #000;
    }
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    text-align: start;
    font-size: 20px;
    color: white;
}

.width50 {
    width: 50%;
}

.gray-gradiant {
    background: linear-gradient(white, #D3D8E8);
}

.entry-text {
    width: 70%;
    border-radius: 10px;
    padding: 35px 10px;
    color: black;
}

#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    h1 {
        font-family: 'Monoton', cursive;
        font-size: 25px;
    }

    h2 {
        font-family: 'Monoton', cursive;
        font-size: 16px;
    }
}

</style><style>.ion {
    background-color: white;
    color: red;
    border-width: 2px;
    border-color: blue;
    border-style: dotted;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: blink;
    text-align: center;
}

.iom {
    background-color: yellow;
    color: red;
    border-width: 2px;
    border-color: blue;
    border-style: dotted;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: blink;
}

.io1 {
    background-color: #06C571;
    color: black;
    border-width: 2px;
    border-color: blue;
    border-style: dotted;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: blink;
}

.io2 {
    background-color: #F0F178;
    color: black;
    border-width: 2px;
    border-color: blue;
    border-style: dotted;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: blink;
}

.io3 {
    background-color: #E9ACF0;
    color: black;
    border-width: 2px;
    border-color: blue;
    border-style: dotted;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: blink;
}

.io4 {
    background-color: white;
    color: black;
    border-width: 2px;
    border-color: blue;
    border-style: dotted;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: blink;
}

button {
    border: 3px solid black;
    border-radius: 5px 5px 5px 5px;
    background-color: #E56717;
    font-size: 18px;
    color: #4B0082;
}

.link1-table {
    border: 1px solid #f00;
    background: #f5f5f5;
    max-width: 1px;
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 5px;
    color: #333;
}

.tablegapb {
    padding-top: 10px;
}

.title-head {
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
    font-weight: bold;
    font-size: 30px;
    font-style: Bold;
    padding-bottom: 10px;
}

.bigtext {
    font-size: x-large;
    font-weight: bold;
    background: brown;
    color: #fff;
}

.link1-table td {
    padding: 5px;
}

.rko1 {
    background-color: orange;
    border-width: 4px;
    border-color: pink;
    border-style: outset;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: blink;
    color: #FF0000;
}

.rka {
    background-color: yellow;
    border-width: 4px;
    border-color: blue;
    border-style: outset;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: blink;
    color: black;
}

.khatri {
    background-color: white;
    border-color: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    color: black;
    font-size: large;
    font-weight: 700;
    margin: 1px;
    padding: 10px;
    text-align: center;
    text-decoration: none
}

</stylhtml><style>.rw_footer_sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 999999;
}

</style><style>.float i {
    display: none;
}

.float {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 50%;
    margin-bottom: -50px;
    right: 10px;
    color: #fff !important;
    background-color: #128c7e;
    border-radius: 100px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    animation: shake 13s infinite;
}


@keyframes shake {
    35% {
        transform: scale(1);
    }

    42% {
        transform: scale(.8);
    }

    45% {
        transform: rotate(0deg) scale(1.2);
    }

    46% {
        transform: rotate(-40deg) scale(1.2);
    }

    47% {
        transform: rotate(40deg) scale(1.2);
    }

    48% {
        transform: rotate(-40deg) scale(1.2);
    }

    49% {
        transform: rotate(40deg) scale(1.2);
    }

    50% {
        transform: rotate(-20deg) scale(1.2);
    }

    51% {
        transform: rotate(0deg) scale(1.2);
    }

    61% {
        transform: scale(1);
    }
}

.float-text {
    position: absolute;
    left: -66px;
    top: 15px;
    font-size: 15px;
    font-weight: 700;
    background: #128c7e;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
}

.card {
    margin: auto;
    text-align: center;
    background-color: red;
    padding: 30px;
}

</style>.ank3 {
    background-color: #ffff00;
    color: black;
    border-width: 0px;
    border-color: yellow;
    border-style: outset;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-style: big;
    font-size: large;
}

.ank3c {
    background-color: #00ff7f;
    color: red;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: #eac117;
    border-style: outset;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.callus {
    background-color: #00ff7f;
    color: red;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: #eac117;
    border-style: outset;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.callus2 {
    background-color: white;
    color: red;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: #eac117;
    border-style: outset;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    margin-right: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.callusfees {
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: verdana;
    font-size: small;
    text-decoration: none;
    border-width: 1px;
    border-color: lime;
    border-style: outset;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 4px;
}

.callusfeesred {
    background-color: gold;
    color: Red;
    font-weight: normal;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: gold;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.CHART {
    background-color: #black;
    color: lime;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 4px;
    border-color: #ffff00;
    border-style: outset;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.CHART a {
    color: red;
}

.Chartnew {
    background-color: black;
    color: gold;
    font-weight: bold;
    font-style: verdana;
    font-size: big;
    text-decoration: none;
    border-width: 2px;
    border-color: lime;
    border-style: outset;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 2px;
}

.Chartnew a {
    color: red;
}

.Chartnewred {
    background-color: black;
    color: red;
    font-weight: bold;
    font-style: verdana;
    font-size: big;
    text-decoration: none;
    border-width: 2px;
    border-color: blue;
    border-style: outset;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 2px;
}

.Chartnewred a {
    color: gold;
}

.contactbox {
    background-color: #8b0000;
    color: white;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 4px;
    border-color: yellow;
    border-style: outset;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

.contact2 {
    background-color: #5f4107;
    color: white;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: black;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 2px;
}

.contact2 a {
    color: yellow;
}

.contactkeyword {
    background-color: #25383c;
    color: white;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: black;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 2px;
}

.contactkeyword a {
    color: red;
}

.contactboxprivexyblack {
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: verdana;
    font-size: normal;
    text-decoration: none;
    border-width: 0px;
    border-color: white;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 3px;
}

.contactboxprivexyblack a {
    color: white;
}

.Contact3 {
    background-color: #8b0000;
    color: Lime;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 4px;
    border-color: yellow;
    border-style: outset;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 0px;
}

.datefixadd {
    background-color: #7fffd4;
    color: red;
    font-weight: bold;
    font-style: verdana;
    font-size: big;
    text-decoration: none;
    border-width: 0px;
    border-color: lime;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}

.description {
    color: black;
    border-width: 0px;
    border-color: white;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-style: normal;
    font-size: normal;
}

.devi {
    background-color: #ffd700;
    color: black;
    border-bottom-width: 0px;
    border-bottom-color: #ffd700;
    border-bottom-style: solid;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none overline;
    font-size: large;
    font-weight: bold;
    font-style: bold;
}

.Devi2 {
    background-color: #ffd700;
    color: Red;
    border-bottom-width: 1px;
    border-bottom-color: #ffd700;
    border-bottom-style: solid;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none overline;
    font-size: large;
    font-weight: bold;
}

.diwali {
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-size: large;
}

.end {
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: verdana;
    font-size: small;
    text-decoration: none;
    border-width: 1px;
    border-color: red;
    border-style: outset;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 3px;
}

.end2 {
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: verdana;
    font-size: small;
    text-decoration: none;
    border-width: 2px;
    border-color: gold;
    border-style: outset;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 3px;
}

.forum {
    background-color: black;
    color: red;
    font-weight: bold;
    font-style: bold;
    font-size: large;
    text-decoration: none;
    border-width: 2px;
    border-color: pink;
    border-style: outset;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.forum a {
    color: gold;
}

.forum2 {
    background-color: #fdfed5;
    color: blue;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 3px;
    border-color: #5db046;
    border-style: outset;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.forumup {
    background-color: black;
    color: red;
    font-weight: bold;
    font-style: bold;
    font-size: large;
    text-decoration: none;
    border-width: 2px;
    border-color: pink;
    border-style: outset;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.forumup a {
    color: gold;
}

.forumdown {
    background-color: black;
    color: red;
    font-weight: bold;
    font-style: bold;
    font-size: large;
    text-decoration: none;
    border-width: 2px;
    border-color: pink;
    border-style: outset;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.forumdown a {
    color: gold;
}

.freegame {
    background-color: yellow;
    color: black;
    border-width: 0px;
    border-color: yellow;
    border-style: outset;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.freegame3undarpage {
    background-color: #ff756b;
    color: blue;
    border-width: 0px;
    border-color: yellow;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    font-weight: bold;
    font-style: bold;
    font-size: large;
}

.freegame3undarpage a {
    color: yellow;
}

.freegame4underpage {
    background-color: #ff756b;
    color: black;
    border-width: 0px;
    border-color: yellow;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    font-weight: bold;
    font-style: bold;
    font-size: large;
}

.freegame4underpage a {
    color: lime;
}

.freegame2 {
    background-color: yellow;
    color: red;
    border-width: 0px;
    border-color: yellow;
    border-style: outset;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.home {
    background-color: yellow;
    color: blue;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: #eac117;
    border-style: outset;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 105px;
    margin-right: 105px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.invisible {
    background-color: black;
    color: black;
    margin-top: 15px;
    font-weight: bold;
    font-size: large;
}

.invisible a {
    color: black;
}

.login {
    background-color: white;
    color: black;
    border-width: 2px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: bold;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
}

.login a {
    color: Red;
}

.newterm {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: small;
}

.newterm a {
    color: white;
}

.online {
    background-color: black;
    color: black;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: large;
}

.online a {
    color: #00ff7f;
}

.Opentoclose35 {
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: verdana;
    font-size: small;
    text-decoration: none;
    border-width: 1px;
    border-color: lime;
    border-style: outset;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 2px;
}

.pic {
    background-color: white;
    color: red;
    font-weight: normal;
    font-style: verdana;
    font-size: normal;
    text-decoration: none;
    border-width: 0px;
    border-color: white;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.privacy {
    background-color: black;
    color: white;
    border-bottom-width: 0px;
    border-bottom-color: white;
    border-bottom-style: solid;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 15px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-size: large;
}

.privacy a {
    color: white;
}

.red56 {
    background-color: white;
    color: red;
    font-weight: bold;
    font-style: verdana;
    font-size: normal;
    text-decoration: none;
    border-width: 0px;
    border-color: white;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 3px;
}

.Result1 {
    background-color: white;
    color: black;
    font-weight: bold;
    font-style: bold;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: white;
    border-style: outset;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.Result2 {
    background-color: gold;
    color: black;
    font-weight: bold;
    font-style: bold;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: gold;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 73px;
    margin-right: 73px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 5px;
}

.scroll {
    background-color: white;
    color: Black;
    border-width: 0px;
    border-style: solid;
    padding-top: 25px;
    padding-bottom: 20px;
    font-style: italic;
    font-size: small;
    font-weight: bold;
}

.scroll a {
    color: blue;
}

.scroll2 {
    background-color: white;
    color: black;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: bold;
    font-size: large;
    text-decoration: blink;
    margin-bottom: 20px;
}

.scroll2 a {
    color: black;
}

.term {
    background-color: white;
    color: black;
    font-weight: bold;
    font-style: bold;
    font-size: normal;
    text-decoration: none;
    border-width: 0px;
    border-color: white;
    border-style: outset;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.top {
    background-color: white;
    color: black;
    font-weight: bold;
    font-style: verdana;
    font-size: normal;
    text-decoration: none;
    border-width: 0px;
    border-color: white;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 3px;
}

.Toptital {
    background-color: black;
    color: gold;
    border-width: 0px;
    border-color: black;
    border-style: outset;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    font-style: bold;
    font-size: small;
}

.weeklypattijodichart {
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-style: bold;
    font-size: small;
    text-decoration: underline;
    border-width: 0px;
    border-color: yellow;
    border-style: outset;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.weeklypattijodi2 {
    background-color: #eac117;
    color: red;
    font-weight: bold;
    font-style: verdana;
    font-size: large;
    text-decoration: none;
    border-width: 0px;
    border-color: #eac117;
    border-style: outset;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.weeklypic {
    background-color: black;
    color: black;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}

.weeklypic a {
    color: blue;
}

.yellow35 {
    background-color: #00ff7f;
    color: black;
    border-width: 0px;
    border-color: yellow;
    border-style: outset;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-style: bold;
    font-size: Normal;
}

.yelloow35 {
    background-color: Yellow;
    color: red;
    border-width: 1px;
    border-color: yellow;
    border-style: outset;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-style: big;
    font-size: large;
    text-decoration: underline;
}